@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;500&display=swap');
html {
    background-color: #916db0;
    color: #f0f8ff;
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    width: 80%;
    margin: 10%;
    margin-top: 5%;
    padding: 0;
}
h1 {
    font-family: 'Barlow', sans-serif;
    font-size: 40px;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
p {
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
h3 {
    font-family: 'Barlow', sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.projects {
    margin: auto auto;
    text-align: center;
}
dt {
    font-family: 'Barlow', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}
dd {
    font-family: 'Barlow', 'sans-serif';
    font-weight: 300;
    font-size: 17.5px;
    margin-left: auto;
    margin-right: auto;
    display: list-item;
    list-style-type: disc;
}
a {
    color: #f0f8ff;
}
a:hover {
    color: #fdb0c0;
}