@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;500&display=swap');
/* just my basic css for the site */
html {
    background-color: #916db0;
    color: #f0f8ff;
    width: 100%;
    margin: 0;
    padding: 0;
}
body{
    width: 80%;
    margin: 10%;
    margin-top: 5%;
    padding: 0;
}
/* header stuff */
h1 {
    font-family: 'Barlow', sans-serif;
    font-size: 40px;
    font-weight: 500;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/* paragraph and larger text but not huge text */
p {
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
}
h3 {
    font-family: 'Barlow', sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
}
b {
    font-weight: 500;
}
.smallP {
    font-family: 'Barlow', sans-serif;
    font-size: 17.5px;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
}
/* stuff for links to give them a bit of style */
a {
    color: #f0f8ff;
}
a:hover {
    color: #fdb0c0;
}
a img {
    border: 0;
}
/* next few segments are for lists and stuff */
dl {
    margin-left: 5%;
}
dt {
    font-family: 'Barlow', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}
dd {
    font-family: 'Barlow', 'sans-serif';
    font-weight: 300;
    font-size: 17.5px;
    margin-left: auto;
    margin-right: auto;
    overflow-wrap: break-word;
    padding-left: 20px;
    display: list-item;
    list-style-type: disc;
}
#conceptImages {
    text-align: center;
    padding: 10px;
}
#conceptImages3 {
    text-align: center;
    padding: 10px;
}
.photo {
    padding: 10px;
    background-color: #af6db0;
    display: inline-block;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.photo3 {
    padding: 10px;
    background-color: #af6db0;
    display: inline-block;
    width: 23%;
    margin-left: auto;
    margin-right: auto;
}
.photo img {
    width: 45%;
    height: auto;
}
.photo3 img {
    width: 45%;
    height: auto;
}
.photo video {
    width: 45%;
    height: auto;
}
.photo3 video {
    width: 45%;
    height: auto;
}
.photo .photoDesc {
    padding: 5px;
    font-family: 'Barlow', sans-serif;
    background-color: #4e254f;
    font-size: 17.5px;
}
.photo3 .photoDesc {
    padding: 5px;
    font-family: 'Barlow', sans-serif;
    background-color: #4e254f;
    font-size: 17.5px;
}
/* separation for video */
#videoInsertion {
    text-align: center;
    padding: 10px;
}
.video {
    padding: 10px;
    background-color: hsl(299, 30%, 56%);
    display: inline-block;
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.video video {
    width: 48%;
    height: 48%;
    float: right;
    margin-top: auto;
    margin-bottom: auto;
}
.video .videoDesc {
    padding: 5px;
    height: auto;
    width: 48%;
    font-family: 'Barlow', sans-serif;
    background-color: #4e254f;
    font-size: 17.5px;
    float: left;
}
.meow {
    text-align: center;
}
.video .videoDesc2 {
    padding: 5px;
    padding-top: 10px;
    height: auto;
    width: 48%;
    font-family: 'Barlow', sans-serif;
    background-color: #4e254f;
    font-size: 17.5px;
    float: right;
}
.nya {
    text-align: left;
}